*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #2dc9f8;
    height: 100px;
    display: flex;
   justify-content: center;
   align-items: center;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.head-container{
    height: 50%;
    background-color: yellow;
    width: 50%;
    display: flex;
}
.border-dashed-black{
    border: 2px dashed black;
}
.flex-grow-1{
    flex-grow: 1;
}
.flex-grow-2{
    flex-grow: 2;
}