*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 50%;
    display: flex;
}
.small-container{
    width: 40%;
    display: flex;
}
.second-header{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#bigger-main{
    height: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.h-height{
    height: 50%;
}
.sh-height{
    height: 85%;
}
.bgc-yellow{
    background-color: yellow;
}
.bgc-light-blue{
    background-color: #2dc9f8
}
.bgc-blue{
    background-color: blue;
}
.bgc-purple{
    background-color: purple;
}
.bgc-pink{
    background-color: pink;
}
.bgc-lightgrey{
    background-color: lightgrey;
}
.bgc-green{
    background-color: green;
}
.bd-black{
    border: 3px dashed black;
}
.flex-grow-1{
    flex-grow: 1;
}
.flex-grow-2{
    flex-grow: 2;
}
.margin-left--{
    margin-left:-100px;
}
.margin-left{
    margin-left: 100px;
}
.margin-right{
    margin-right:-100px;
}